@using SaveUrMoneyApp.Models
@{
    ViewData["Title"] = "Ajuda";
}

<div class="card-container">
    <div class="card">
        <h2>Psicologa Mulher</h2>
         <p>
            <a href="https://www.doctoralia.com.br/dayse-jochan-cardozo/psicologo/canoas#address-id=1221318&is-online-only=false&filters%5Bdiseases%5D%5B%5D=2779&filters%5Bspecializations%5D%5B%5D=76" target="_blank" rel="noopener noreferrer" class="link-externo">Site Externo Seguro</a>
         </p>
    </div>

    <div class="card">
        <h2>Psicologo Homem</h2>
        <p>
            <a href="https://www.doctoralia.com.br/guilherme-braz-brum-da-silva/psicologo/cachoeirinha#address-id=1084662&is-online-only=false&filters%5Bdiseases%5D%5B%5D=2779&filters%5Bspecializations%5D%5B%5D=76" target="_blank" rel="noopener noreferrer" class="link-externo">Site Externo Seguro</a>
        </p>
    </div>

    <div class="card">
        <h2>Opção de clinica de psicologia</h2>
        <p>
            <a href="https://www.doctoralia.com.br/clinicas/inside-espaco-multidisciplinar#address-id=114216&is-online-only=false&filters%5Bdiseases%5D%5B%5D=2779&filters%5Bspecializations%5D%5B%5D=76" target="_blank" rel="noopener noreferrer" class="link-externo">Site Externo Seguro</a>
        </p>
    </div>
</div>