@{
    ViewData["Title"] = "Riscos";
}

<div class="card-container">
    <div class="card">
        <h2>1. Perda Financeira Constante</h2>
        <p>As apostas são estruturadas para favorecer a casa, não o jogador. Mesmo que existam ganhos ocasionais, a tendência é que, no longo prazo, o usuário perca dinheiro. Muitos apostadores acabam comprometendo salários, economias e até contraindo dívidas tentando recuperar prejuízos.</p>
    </div>

    <div class="card">
        <h2>2. Dependência Psicológica (Vício)</h2>
        <p>Jogos de azar ativam áreas do cérebro ligadas à recompensa, o que pode levar à compulsão. A sensação de "quase ganhar" e o desejo de recuperar perdas criam um ciclo viciante, dificultando o controle e levando a problemas de saúde mental como ansiedade, depressão e insônia.</p>
    </div>
    <div class="card">
        <h2>3. Impactos na Vida Pessoal e Profissional</h2>
        <p>O vício em apostas pode afetar diretamente relacionamentos, produtividade no trabalho, estudos e decisões importantes do dia a dia. Muitas pessoas começam a se isolar, mentir para familiares, negligenciar responsabilidades e até cometer atos ilegais para sustentar o vício.</p>
    </div>
</div>