@{
    ViewData["Title"] = "Soluções";
}

<div class="card-container">
    <div class="card">
        <h3>1. Acompanhamento Psicológico (Terapia Comportamental)</h3>
        <p>A ajuda de um psicólogo, especialmente com foco em terapia cognitivo-comportamental (TCC), é essencial para tratar o vício. A terapia ajuda a identificar gatilhos, mudar padrões de pensamento compulsivos e desenvolver estratégias para resistir à vontade de apostar.</p>
    </div>

    <div class="card">
        <h3>2. Bloqueio de Acesso às Plataformas de Apostas</h3>
        <p>Ferramentas tecnológicas podem ajudar no processo de controle: Aplicativos e extensões de navegador que bloqueiam sites de apostas. Solicitação de autoexclusão nas plataformas (algumas oferecem a opção de bloquear a própria conta). Restringir o acesso aos meios de pagamento usados nas bets.
        </p>
    </div>

    <div class="card">
        <h2>3. Apoio Familiar e Grupos de Ajuda</h2>
        <p>Ter uma rede de apoio é fundamental: Conversar com familiares e amigos próximos para buscar apoio emocional e responsabilidade compartilhada. Participar de grupos de apoio anônimos, como o Jogadores Anônimos (JA), onde pessoas compartilham experiências e se fortalecem mutuamente na luta contra o vício.
        </p>
    </div>
</div>